<h1>Where to Eat</h1>
<div>
  <% if Restaurant.count > 0 %>
    Eat at <%= RestaurantPicker.new.choose_oldest_and_best(@restaurants).title %>
  <% else %>
    <p>Add Restaurants First!</p>
  <% end %>
</div>
