<div class='row'>
  <div class='col-md-4 pull-right'>
    <h3><%= "Blocitoff Items for #{@user.name}" %></h3>
  </div>
  <div class='list'>
    <!-- <%= render @items %> -->
  </div>
</div></br>
<div class='form'>
  <!-- <%= render partial: 'items/form', locals: {user: @user} %> -->
</div>
